
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

div#headers-2 {
    padding: 20px 13px;
    background: #f7f6f6;
    border-left: 5px #4242b3 solid;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 2%;
}

.announcement {
    margin-top: 2%;
    background: #f7f6f6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 66px;
    padding: 19px;
}

.announcement h5 {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    color: white
}

.vertical-center {
    top: 62%;
    left: 50%;
    transform: translate(-50%, -56%);
}

.topic-logos {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 9px #c5c5c5 solid;
}

.topic-row {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    border-top: 1px solid #ddd;
}

.login-from-shortcut {
    background: #e9edf1;
    margin-bottom: 2% !important;
    width: 90%;
    margin: 0 auto;
    padding: 2%;
    border-radius: 10px;
}

.login-from-shortcut label {
    margin-top: 1%;
}

legend {
    color: gray;
    font-family: 'Dosis';
    font-weight: bold;
    font-size: 36px;
}

.input-login {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border-color: gray;
    padding-left: 10px;

}

.login-submits {
    float: right;
    background: #5372ab;
    padding: 11px;
    border: none;
    font-size: 21px;
    border-radius: 7px;
    color: white;
}

.addit-2 {
    width: 90%;
    height: 67px;
    margin-bottom: 25px;
}

.cancelp {
    float: right;
    background: #e7a269;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Dosis';
    padding: 6px;
    position: relative;
    top: -10px;
    line-height: 1.8;
    border-radius: 5px;
}

.cancelp:hover {
    float: right;
    background: #e9b386;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Dosis';
    padding: 6px;
    position: relative;
    top: -10px;
    line-height: 1.8;
    border-radius: 5px;
}

.top-landing-simple {
    min-height: 300px;
    background: #364253;
    background-image: none;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.overly-simple {
    background: rgba(39, 62, 84, 0.82);
    overflow: hidden;
    min-height: 300px;
    z-index: 2;
    position: absolute;
    width: 100%;
}

.vertical-center-2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -186%);
    z-index: 3;
    text-align: center;
}

.post-form {
    width: 90%;
    margin: 0 auto;
    min-height: 550px;
    margin-bottom: 2%;
    background: #f0f2f3;
    padding: 3%;
    border-radius: 5px;
}

.quillWrapper {
    background: #fffefe;
}

input.ptitle-input {
    width: 100%;
    height: 40px;
    border: none;
    border: 1px gainsboro solid;
    border-radius: 5px;
    padding-left: 11px;

}

.submitpost {
    margin-top: 4%;
    float: right;
    background: #7fa990;
    padding: 16px;
    color: white;
    text-transform: uppercase;
    margin-right: 13px;
}

.submitpost:hover {
    margin-top: 4%;
    float: right;
    background: #7dbb96;
    padding: 16px;
    color: white;
    text-transform: uppercase;
    margin-right: 13px;
}

.error-span {
    color: red;
    position: relative;
    top: 7px;
}

.Error-input {
    border: red solid 1px !important;
}
